<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter Username"><br>
    <input type="text" name="first_name" placeholder="Enter First Name"><br>
    <input type="text" name="last_name" placeholder="Enter Last Name"><br>
    <input type="email" name="email" placeholder="Enter Email"><br>
    <input type="password" name="password" placeholder="Enter Password"><br>
    <input type="password" name="password1" placeholder="Confirm Password"><br>
    <input type="submit"><br>
</form>
</body>
</html>